.container
  %h4.day.v-big
    %span Create a collection
  = form_for @collection, url: {action: "create"} do |f|
    .field.form-group
      %h3= f.label :title
      = f.text_field :title, autofocus: true, class: "form-control"
    =button_tag(class: "btn btn-success") do
      Create Collection
      %i.fa.fa-plus