.page-header.v-collections.v-brown{style: %(background-image:url(/assets/librarydrawing.jpg))}
  .page-header--shadow
    .container
      .title.v-big
        %h2= @collection.title
        %br
        %h4= "Created by #{@collection.user.email}"
.container
  = render @items

