.page-header.v-collections.v-brown{style: %(background-image:url(/assets/librarydrawing-6d55a7e7d1ed6ec639a1d5d7942261bd.jpg))}
  .page-header--shadow
    .container
      .title.v-big
        %h2= @collection.title
        %br
        %h4= "Created by #{@collection.user.email}"
.container
  = render @items

