%li
  =link_to list_url(list) do
    %h2.repo-name
      = list.title
    .repo-meta.clearfix
      %span.repo-username
        By Ethan Barhydt, Harvard University
      %span.language
        = list.items.count
        Articles
    %h3.repo-des
      =list.description




