.post-item
  .post-item-content
    %a.post-follow-button
      = render partial: 'lists/follow_form', locals: {list: list} 

    .post-item--text
      .post-item--text--name
        = link_to list.title, list_path(list)
        .post-item--text-tags
          - list.tags.each do |tag| 
            %span.post-item--text-tag{class: "tag-" + tag.name}= tag.name
  .post-item--actions
    .post-item--actions--users
      %span.post-item--actions--user
        .profile-img= image_tag(User.find_by(id: list.submitter).image)
