- provide(:title, "Home")
.row
  .col-xs-2#globe
    GPS
  .col-xs-10.feed
    %h1 Lists
    - @lists.each do |list|
      .row.feed-item
        .col-xs-12
          %h5
            =link_to "#{list.title}", list_path(list)
          .paper-count
            =list.items.count
            papers