%ul.list-header
  %li
    .row
      .clearfix.call-to-action.col-xs-8
        .list-title
          %h3= @list.title
        %h5.byline
          By Ethan Barhydt, 
          %i Harvard University
        %span
          = @list.description

%ul.list
  - @list.items.each do |item|
    = render item
