- provide(:title, @list.title)
.row
  .col-xs-10.list
    .row
      .col-xs-12.title
        %h4= "#{@list.title}"
        %h5.curator
          By 
          =link_to @list.curator, @list.curator_url
    .row
      .col-xs-12.description
        = @list.description
    .row
      .col-xs-12#missing-content
        - if @items.count < 1
          %h5
            Looks like there aren't any articles here yet :-( 
          / %br
          %i
            Contribute to this list by emailing info@researchgps.com. 
        -else
          Something missing from this list? Help make it better. Email info@researchgps.com.
    = render @items

