%ul.list-header
  %li
    .row
      .clearfix.call-to-action.col-xs-8
        .list-title
          %h4 
            =link_to "A model of technology, growth, and productivity in the 20th century"
        %span
          It was once a conventional view in economics that all national incomes would converge toward a high standard of living. The thought was that technology is the long-run determinant of growth (due to diminishing returns of capital) and that all countries have access to the newest technology. Therefore, all that is required.
  

  %li.related
    This article is part of 7 other lists: 
    =link_to "list2"
    =link_to "list1"
