.row
  .col-xs-2#globe
    GPS
  .col-xs-10.feed
    %h1 Lists
    .row.feed-item
      .col-xs-12
        %h5
          Are women better borrowers? Empirical evidence
        %span Curated by Ethan Barhydt
    
