.row
  .col-xs-2#globe
    GPS
  .col-xs-10
    .row
      .col-xs-12.title
        %h4 Why women are better borrowers than men
    .row
      .col-xs-8.description
        the last two decades have seen an explosion of research on microfinance. This site is all about making it a piece of cake to keep track of that research. Subscribe to lists, and we'll let you know when new papers get added to that list. the last two decades have seen an explosion of research on microfinance. This site is all about making it a piece of cake to keep track of that research. Subscribe to lists, and we'll let you know when new papers get added to that list.
    .row.item
      .col-xs-1.date
        1938
      .col-xs-10
        %h5
          =link_to "Grameen Bank: Perfomance and sustainability.", '#'
        .item-description
          15.3% of male borrowers in 1991 were struggling (missing some payments before final due date) while only 1.3% of women were 
    