%ul.list
  %li
    =link_to root_url do
      %h2.repo-name
        Convergence
      .repo-meta.clearfix
        %span.repo-username
          By Ethan Barhydt (Harvard University)
        %span.language
          7 Articles
      %h3.repo-des
        All countries will converge towards a high standard of living
  %li
    =link_to root_url do
      %h2.repo-name
        Nonconvergence
      .repo-meta.clearfix
        %span.repo-username
          By Ethan Barhydt (Harvard University)
        %span.language
          7 Articles
      %h3.repo-des
        All countries will converge towards a high standard of living

  %li
    =link_to root_url do
      %h2.repo-name
        Solow Growth Model
      .repo-meta.clearfix
        %span.repo-username
          By Ethan Barhydt (Harvard University)
        %span.language
          7 Articles
      %h3.repo-des
        All countries will converge towards a high standard of living

  %li
    =link_to root_url do
      %h2.repo-name
        Harrod-Domar Growth Model
      .repo-meta.clearfix
        %span.repo-username
          By Ethan Barhydt (Harvard University)
        %span.language
          7 Articles
      %h3.repo-des
        All countries will converge towards a high standard of living

