%ul.list-header
  %li
    .row.call-to-
      .clearfix.call-to-action.col-xs-8
        .list-title
          %h3 Solow Growth Model
        %h5.byline
          By Ethan Barhydt, 
          %i Harvard University
        %span
          It was once a conventional view in economics that all national incomes would converge toward a high standard of living. The thought was that technology is the long-run determinant of growth (due to diminishing returns of capital) and that all countries have access to the newest technology. Therefore, all that is required.



%ul.list
  %li
    =link_to root_url do
      .row
        .col-xs-10
          %h4.item-name
            A model of technology, growth, and productivity in the 20th century
          .repo-meta.clearfix
            %span
              All growth in GDP is proportional to investment. Known as the Solow Growth Model. This was used to support policies in which aid fills a financing gap. But it didn't work out, and some economists didn't like it.
        .col-xs-2
          %span.glyphicon.glyphicon-plus.pull-right




      / .row.item-text
      /   .col-xs-10
      /     %h2.repo-name
      /       Solow Growth Model
      /     .repo-meta.clearfix
      /       %span.repo-username
      /         By Ethan Barhydt (Harvard University)
      /       %span.language
      /         7 Articles
      /     %h3.repo-des
      /       All countries will converge towards a high standard of living
      /   .col-xs-2.item-button.pull-right.pad-rt-10
      /     %span.glyphicon.glyphicon-plus.pull-right

