- provide(:title, "Home")

.row.navigate
  .col-xs-12
    %ul
      %li= link_to "Microfinance (8)", static_pages_microfinance_path
      %li >>
      %li= link_to "Technology of Microfinance (7)", static_pages_technologyofmicrofinance_path
      %li >>
      %li= link_to "Group Lending & Reputation (3)", '#'
.row.feed
  .col-xs-3
  .col-xs-9
    %ul
      = render @lists