- provide(:title, "Home")

.row.heading.text-center
  .col-xs-12 
    %ul
      %li
        %h1 Development Economics
      %li 
        %h4.gray Search a topic, and discover what the research tells us.
.search
  %input{autofocus: "true", autocomplete: "off", class: "instantsearch", id: "q", placeholder: "Search any topic in development economics (e.g. microcredit)", type: "text", spellcheck: "false"}

%div.browsetopics
  %span Not sure what to search for? 
  %span#random=  link_to "Browse research questions by topic.", collections_path

#display
  #hits
  :javascript
    var $inputfield = $('#q');
    var $hits = $('#hits');
  .instructions


  :javascript
    var $instructions = $('.instructions')