.topics

  %h4 select a topic
  %br
  %h2
    =link_to "Microfinance", 'static_pages/microfinance'
  %h2 
    =link_to "Health", 'static_pages/health'
  %br
  %br
  %h4 *More developing topics coming soon, including History -- Macroeconomics -- Trade -- Foreign Aid -- Education -- Household Economics -- Firms -- Taxation -- Corruption -- Technology -- Behavioral Poverty -- More

