- provide(:title, "Home")

.row.heading.text-center
  .col-xs-12 
    %ul
      %li
        %h1 Development Economics
      %li 
        %h4.gray Research questions, answered by economists 
.search
  %input{autofocus: "true", autocomplete: "off", class: "instantsearch", id: "q", placeholder: "Search any topic in development economics (e.g. microcredit)", type: "text", spellcheck: "false"}

#display
  #hits
  :javascript
    var $inputfield = $('#q');
    var $hits = $('#hits');
  .instructions
    %span Search for a topic above or 
    %span#random=  link_to "browse by topic", collections_path


  :javascript
    var $instructions = $('.instructions')