- provide(:title, "Home")

/ %nav.navbar.navbar-inverse.navbar-fixed-top{role:"navigation"}
/ .collapse.navbar-collapse.navbar-ex1-collapse
/   %ul.nav.navbar-nav.side-nav
/     - Collection.roots.each do |collection|
/       %li= link_to collection.name, collection



/ .row.text-center
/   .col-xs-12.signup-form
/     %ul 
/       %li New features are coming. Be the first to know about it.
/       %li
/         = form_for @email_signup, remote: true do |f|
/           = render 'shared/error_messages', object: f.object
/           / %div.field
/           %li= f.text_field :email, placeholder: "What's your email?"
/           %li= f.submit "Get updates!", class: "btn btn-large btn-primary", id: "submit"

.row.homepage-copy
  .col-xs-12
    %h2#catchphrase Powerboost your research

  .col-xs-12
    %h4#sub-slogan DevEc GPS collects the latest findings and ideas about high-impact research questions in development economics

  .col-xs-12#sample-question
    .btn.btn-primary.btn-default.btn-primary-text
      = link_to "Take me to a research question", '/lists/144' 
      %i.fa.fa-arrow-circle-o-right 

  .col-md-4.value
    %h3
      %i.fa.fa-compass 
      Get the latest
    Read a two-minute summary of the latest findings on any research question. 

  .col-md-4.value
    %h3 
      %i.fa.fa-map-marker 
      Stay in the know
    Subscribe to research questions and be notified when a discovery is made.
  .col-md-4.value
    %h3 
      %i.fa.fa-university
      Build your reputation
    Publish updates about your own research, and establish expertise.

  
    

  / .search
  /   %input{autofocus: "true", autocomplete: "off", class: "instantsearch", id: "q", placeholder: "Search your research interest (e.g. school vouchers)", type: "text", spellcheck: "false"}

  / .search
  /   #display
  /     #hits
  /     :javascript
  /       var $inputfield = $('#q');
  /       var $hits = $('#hits');
  / .instructions
  / .row.research-collection
  /   .col-xs-12
  /     %h3.gray Research Collections (8)
  / .collection-div
  /   %ul.collections.pull-center
  /     - @collections.each do |collection|
  /       %li
  /         %div{:class => 'bg-img', :style => %(background-image:url(/assets/#{collection.image_url}))}

  /         / style: "background-image: url(_#{image_path image_url}_)"}
  /         =link_to collection_path(collection), class: "collection" do
  /           %span= collection.name
  /           %span.question-count= "#{pluralize(collection.lists.count, 'research question')}"




