.topics

  %h4 select a topic
  %br
  %h2
    =link_to "Microfinance", 'static_pages/microfinance'
  %h2 
    =link_to "Health", 'static_pages/health'
  %h2 
    =link_to "Growth", 'static_pages/growth'
  %h2 
    =link_to "Education", 'static_pages/education'
  %h2 
    =link_to "History", 'static_pages/history'
  %h2 
    =link_to "Foreign Aid", 'static_pages/foreignaid'
  %h2 
    =link_to "Property Rights", 'static_pages/propertyrights'
  %br

  %h4 *More development topics coming soon, including Trade -- Foreign Aid -- Household Economics -- Firms and Contracts -- Taxation -- Corruption -- Technology -- Behavioral Poverty -- More

