- provide(:title, "Home")
.row.heading.text-center
  .col-xs-12
    %ul
      %li
        %h1 Development Economics
      %li 
        %h4.gray Playlists of research papers for the big questions in development economics


%ul.topics
  %li
    .bg-img{style: "background-image: url(#{image_path 'education.jpg'})"}
    =link_to lists_path(topic: 'Education') do
      %span Education
  %li
    .bg-img{style: "background-image: url(#{image_path 'microfinance.png'})"}
    =link_to lists_path(topic: 'Microfinance') do
      %span Microfinance
/ {:style => "background-image: url(#{image_path "logos/#{facility.image}.jpg"})"}

/ .row.topics
/   .col-xs-12
/     .education
/       =link_to lists_path(topic: 'Education') do
/         %h2 Education

/   .col-xs-12
/     .microfinance
/       =link_to lists_path(topic: 'Microfinance') do
/         %h2 Microfinance
