- provide(:title, "Home")

.row.navigate
  .col-xs-12
    %ul
      %li= link_to "Microfinance", static_pages_microfinance_path
      %li >>
      %li= link_to "Impact of Microfinance", '#'
.row.feed
  .col-xs-3
  .col-xs-9
    %ul
      = render @lists