- provide(:title, "Home")

.row.navigate
  .col-xs-12
    %ul
      %li= link_to "Microfinance", '#'
.row.feed
  .col-xs-3
    %ul
      %li= link_to "The technology of microfinance", static_pages_technologyofmicrofinance_path
      %li=link_to "The impact of microfinance", static_pages_impactofmicrofinance_path
  .col-xs-9
    %ul
      = render @lists