- provide(:title, "Community")

.row.heading.text-center
  .col-xs-12 
    %ul
      %li
        %h1 Community

%ul.people
  %li 
    %img 
    %span person 1
  %li person 2
  %li person 3
  %li person 4