
.resources
  %h4
    The following resources have been immensely helpful in compiling GPS lists
    
  %ul
    %li
      = link_to "development economics: The New Palgrave Dictionary of Economics — Debraj Ray", "http://www.dictionaryofeconomics.com/article?id=pde2008_D000105"
    %li
      = link_to "The Elusive Quest for Growth: Economists' Adventures and Misadventures in the Tropics — William Easterly", "http://www.amazon.com/The-Elusive-Quest-Growth-Misadventures/dp/0262550423"