%input{autofocus: "true", autocomplete: "off", class: "autocomplete", id: "q", placeholder: "Start typing...", type: "text", spellcheck: "false"}

#hits
:javascript
  var $inputfield = $('#q');
  var $hits = $('#hits');