- provide(:title, "Home")

.row.navigate
  .col-xs-12
    %ul
      %li= link_to "Microfinance", static_pages_microfinance_path
      %li >>
      %li= link_to "Technology of Microfinance", '#'
.row.feed
  .col-xs-3
    %ul
      %li=link_to "Group lending & reputation", static_pages_groupreputation_path
      %li=link_to "Microcredit for savings", static_pages_microcreditsavings_path
      %li=link_to "Transaction design", static_pages_tdesign_path
      %li=link_to "Microfinance institutions", static_pages_mfi_path

  .col-xs-9
    %ul
      = render @lists