=provide(:heading, heading)
=provide(:date, date)
%ul.featured-feed
  .day
    %h4.title.v-big 
      %span=yield(:heading) 
      %span.title--subtext
        =yield(:date) unless date==nil
  .posts--group--header
  / =@lists.shift
  .container
    %ul.posts--group
      -if @lists.count == 0
        .nothing-here
          %h2 You don't have any subscriptions yet!

          %h4 Subscriptions let you track research questions and get email updates whenever there's a new finding. 

          %h4
            =link_to root_path do
              Visit the main page and start subscribing
              %i.fa.fa-arrow-right

      -else
        = render @lists, locals: {destination: @destination}

/ - @lists.group_by(&:date).sort.reverse.each do |date, lists|
/   .day
/     %h4.title.v-big
/       - if date == Date.today.strftime('%B %d %A')
/         %span Today
/         %span.title--subtext= date.rpartition(' ').first
/       / - elsif date == Date.yesterday.strftime('%B %d %A')
/       /   %span Yesterday
/       /   %span.title--subtext= date.rpartition(' ').first
/       / - else
/       /   %span= date.rpartition(' ').last
/       /   %span.title--subtext= date.rpartition(' ').first
/   .container
/     %ul.posts-group
/       =render lists






/ %ul.featured-feed
/   .day
/     %h4


/ - @lists.group_by(&:date).sort.reverse.each do |date, lists|
/   .day_feed
/     %ul.list_inline
/       %li.day
/         - if date == Date.today.strftime('%B %d')
/           Today's Collections
/         - elsif date == Date.yesterday.strftime('%B %d')
/           Yesterday
/         - else
/       %li.date
/         = date