=provide(:heading, heading)
=provide(:date, date)
%ul.featured-feed
  .day
    %h4.title.v-big 
      %span=yield(:heading) 
      %span.title--subtext
        =yield(:date) unless date==nil
  .posts--group--header
  .container
    %ul.posts--group
      = render @lists


  / - @lists.group_by(&:date).sort.reverse.each do |date, lists|
  /   .day_feed
  /     %ul.list_inline
  /       %li.day
  /         - if date == Date.today.strftime('%B %d')
  /           Today's Collections
  /         - elsif date == Date.yesterday.strftime('%B %d')
  /           Yesterday
  /         - else
  /       %li.date
  /         = date