%ul.list
  %li
    .call-to-action.clearfix
      %span.mt3
        =link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-gps"
      %span.call-to-action-text
        A roadmap to research in development economics.
        %i
          Sign up to save and track research in your library. 