= form_for @email_signup do |f|
  = render 'shared/error_messages', object: f.object
  .row
    .col-xs-8
      %ul.list-inline
        %li The best new research collections, delivered to your inbox weekly!
    .col-xs-4
      %ul.list-inline
        %li= f.text_field :email, placeholder: "Your email..."
        %li= f.submit "Join", class: "btn btn-large btn-primary"