ready = function() {
  var client = algoliasearch("0949R8OD7S", "b954bfc9213c62c07a0b12019213ec4a");
  var index = client.initIndex("List_<%= Rails.env %>");


  $inputfield.keyup(function() {
    index.search($inputfield.val(), searchCallback);
  }).focus();
};

$(document).ready(ready);
$(document).on('page:load', ready);

function searchCallback(err, content) {
  if (err) {
    console.error(err);
    return;
  }

  if ($inputfield.val() == "") {
    $('#page-wrapper').html($pagecontent)
    return

  }

  if (content.query !== $inputfield.val()) {
    // do not take out-dated answers into account
    return;
  }

  if (content.hits.length === 0) {
    // no results
    $hits.empty();
    var $inputfieldArray = $inputfield.val().split(" ");
    var searchInput = "https://scholar.google.com/scholar?hl=en&q=" + $inputfieldArray.join("+") + "&btnG=&as_sdt=1%2C22&as_sdtp=";
    $('#page-wrapper').html('<div id="hits" class="noresults"><h3> \
      <span>Sorry! We couldn\'t find any research questions for you.</h3> \
      <h4>Check back soon...we\'re adding new content every day. In the meantime, want to try <a href="' + searchInput + '">searching for <i>' + $inputfield.val() + '</i> on Google Scholar?</a> \
      </span> \
      <div> \
      </div> \
    </div>')
    return;
  }

  // Scan all hits and display them
  var html = '';
  console.log(content.hits)
  // html += '<div class="row feed"><div class="col-xs-12"><h3>Results (' + content.hits.length + ') </h3><ul>' 
  for (var i = 0; i < content.hits.length; ++i) {
    var hit = content.hits[i];
    // console.log(hit)
    // For example, display all properties that have at least
    // one highlighted word (matchLevel = full or partial)
    
    html += '<a href="/lists/' + hit.objectID + '"> \
      <li class="feed-item"> \
        <div class="row"> \
          <div class="col-xs-12"> \
            <h5>' 
              + hit._highlightResult["title"]["value"] + 
            '</h5> \
          </div> \
        </div> \
      </li> \
    </a>'
  }
  html += '</ul></div></div>';

  $hits.html(html);
  $('#page-wrapper').html($hits)











}