= form_for(current_user.user_items.build(item_id: item.id), remote: true) do |f|
  = f.hidden_field :item_id
  = button_tag type: 'submit' do
    %span.glyphicon.glyphicon-plus



/ <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
/  <i class="icon-ok icon-white"></i> Save
/ <% end %>
/   %span.glyphicon.glyphicon-plus
/     = f.submit 

