=link_to "Save", {controller: 'item_lists', action: 'new', item_id: item.id,  }, remote: true, "data-toggle" => "modal", "data-target" => "#newItemListModal"




/ %button.btn{"data-target" => "#newItemListModal", "data-toggle" => "modal", type: "button"}
/   Save


/ %button.btn{"data-target" => "#myModal", "data-toggle" => "modal", :type => "button"}
/               %i.fa.fa-plus-circle
/               My Collections
/             =render partial: 'shared/sign_in_modal'

/ = form_for(current_user.item_list.build(item_id: item.id)) do |f|
/   = f.hidden_field :item_id
/   %ul
/     %li
/       =button_tag(class: "btn btn-primary", id: "follow") do
/         Save
/     %li= item.user_items.count


/ {:controller => "car", :action => "add_to_cart", :car => car.id }