%ul.item
  %li#item_collect.pull-right
    =render partial: 'shared/collect_button', locals: {item: item}
  %li#item_title
    %h4= link_to item.title, item_path(item), remote:true

  %li#item_authors= item.authors
  %li#item_category
    / # %span= "Found in"
    / # %span.category= "Alcoholism"

