.item{id: "item-#{item.id}"}
  =link_to item.url do 
    .row
      .col-xs-10
        %ul.list-inline
          %li  
            %ul
              %li.title= item.title
              %li.description= item.description
      .col-xs-2
        %ul.list-inline.pull-right
          %li
            - if user_signed_in?
              = render partial: 'items/add_user_item_form', object: item, as: 'item'
