=link_to item_path(item) do 
  .row.item
    .col-xs-2.col-sm-1.date
      = item.year
    .col-xs-10
      %h5
        =item.title
        / # =link_to "#{item.title}", item.url
      .item-description
        %span.author="#{item.author}, "
        %span.journal="#{item.journal}"
