.title
  %h4= @item.title
%br
- if current_user.try(:admin?)
  ID:
  = @item.id
%br
%br
= link_to @item.url do 
  %h6.read
    %span Read Now
%br
%h5 Abstract
%p.abstract= raw @item.abstract

:javascript
    $(document).ready( function() {
      $('.read').click( function() {
        mixpanel.track("Clicked to read PDF");
      });
    });