=link_to item_path(item), remote: true do 
  .row.item#item
    .col-xs-2.col-sm-1.date.gray
      = item.year
    .col-xs-10
      %h5
        =item.title
      .item-description.gray
        %span.author="#{item.author}, "
        %span.journal="#{item.journal}"
        - if current_user.try(:admin?)
          %br
          = item.id

:javascript
    $(document).ready( function() {
      $('.item').click( function() {
        mixpanel.track("Clicked an article");
      });
    });