= form_for(current_user.user_items.find_by(item_id: item.id), html: { method: :delete }, remote: true) do |f|
  = f.hidden_field :item_id
  = button_tag type: 'submit' do
    %span.glyphicon.glyphicon-minus
