@import "bootstrap-sprockets";
@import "bootstrap";


html {
	overflow-y: scroll;
}

body {
	padding-top: 90px;
}

h1, h2, h4, h5 {
	margin: 0px;
}

h1 {
	margin-bottom: 10px;
}

ul {
	padding-left: 0px;
}

a {
	color: #333333;
	&:hover {
		color: #333333;
		text-decoration: none;
	}
}


#signup-pitch li {
	list-style: square inside;
}

.alert {
	color: #333333;
	border: 1px solid #333333;
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	background: #fcf8e3;
}

.email-me {
	margin: 10px;
}

.topics {
	a {
		border-bottom: 3px solid #ffc31c;
		&:hover {
			border-bottom: 3px solid blue;
		}
	}
	h2 {
		margin-bottom: 30px;
	}
	h4 {
		color: gray;
	}
}

.signup input {
	width: 100%;
	height: 40px;
}

#wrapper {
    padding-left: 0;

}

.sidebar-nav li {
    list-style: none;
    padding-left: 20px;
    padding-right: 10px;
}

#missing-content {
	background: #fcf8e3;
}

li.slogan {
	// font-size: 1.2em;
	margin-top: 15px;
	list-style: none;
	text-align: center;
	margin-right: 90px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    height: 100%;
    width: 0px;
    left: 250px;
    margin-left: -250px;
    // border-right: 1px solid black;
    overflow-y: auto;    
    // -webkit-transition: all 0.5s ease;
    // -moz-transition: all 0.5s ease;
    // -o-transition: all 0.5s ease;
    // transition: all 0.5s ease;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    // margin-right: 10px;
    padding: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    // padding: 15px;
    padding-top: 0px;
}

.journal {
	font-style: italic;
}

.signup input {
	border: 2px solid #333333;
}

#email_signup_email {
	padding-left: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
}

#globe {
	border-radius: 100%;
	background-color: #333333;
	color: #ffc31c;
	padding: 10px;
	padding-left: 10px;
	letter-spacing: 2px;
	font-size: .7em;
}

.btn-gps {
	background: #333333;
	color: white;
	padding-left: 8px;
	padding-right: 8px;
	&:hover {
		color: #ffc31c;
	}
	margin-top: 2px;
}

// NAV

.navbar-brand a {
	color: #777777;
	&:hover {
		color: #333333;
	}
}

// SIDENAV
.sidenav {
	font-size: 1.2em;
}

.call-to-action {
	font-size: 1.1em;
	text-align: center;
}

.info {
	font-size: .7em;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
	span {
		margin-right: 50px;
		border: 2px solid #333333;
		padding: 5px;
		&:hover {
			cursor: pointer;
		}
	}
	div {
		margin-bottom: 10px;
	}

}

#info-active {
	color: white;
	background: #333333;
}

.view-info {
	font-size: .7em;
	padding: 5px;
}

.contact {
	margin-top: 10px;
}


// FEED 

.feed {
	margin-left: 15px;
	margin-right: 15px;
	h1 {
		margin-bottom: 20px;
	}
}

.feed-item {
	border: 1px solid black;
	width: 220px;
	margin-bottom: 25px;
	border-radius: 1%;
	margin-right: 25px;
	// line-height: 30px;
	text-align: center;
	padding-left: 7px;
	padding-right: 7px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 267px;
	background: #333333;
	.paper-count {
		color: #ffc31c;
	}
	.curator {
		color: #ffc31c;
	}
	h5 {
		color: white;
	}

	h5 {
		font-size: 1.2em;
		line-height: 22px;
	}
	h6 {
		font-size: 1.1em;
		font-weight: normal;
		color: white;
		line-height: 17px;
		margin-top: 5px;
	}
}

// LIST

.paper-count {
	color: #777777;

}



.list {
	margin-left: 15px;
}

.title  {
	padding-bottom: 5px;
}

.author {
	margin-bottom: 10px;
	margin-top: 3px;
	color: #777777;
}

.description {
	font-size: .9em;
	margin-top: 5px;
	margin-bottom: 20px;
}

.item {
	padding-top: 15px;
	padding-bottom: 15px;
	&:hover {
		background: #e5e5e5;
	}
}

.date {
	color: #777777;
}

.item-description {
	color: #777777;
	font-size: .9em;
}

// FOOTER

.footer {
	border-top: 1px solid #d3d3d3;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: .9em;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
        min-height: 500px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding-left: 30px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

