@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'Aileron-SemiBold';
    src: font_url('Aileron-SemiBold.otf') format('opentype');

}

html {
	overflow-y: scroll;
}

body { 
	padding-top: 10px;
	// padding-right: 15px;
    // padding-left: 15px;
    font-family: 'Verdana';
    font-size: 1.55em;
}

ul{
	-webkit-padding-start: 0px;

}
li{
	list-style: none;
	vertical-align: middle;
}

.btn {
	vertical-align: middle;
}

.tagline {
	font-size: .9em;
	color: #999999;
	margin-top: -5px;
}

.title {
	font-weight: bold;
	color: #534540;
}
.description {
	color: #999999;
}

.profile-img {
	width: 30px;
}



.openair-btn{
    background: #179ac8;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    font-size: .8em;
    &:hover{
        border-color: #B8B8B8;
        background: #179ac8;
        color: white;
    }
    &:visited{
        color: white;
    }
}

.img-big {
	width: 100px;
}

.upvote {
	margin-right: 5px;
}

.glyphicon-chevron-up {
	color: #179ac8;
}

.upvote-box {
	background: #bbbbbb;
}

.list_heading {
	background: #ffffad;
	border-radius: 5px;
	padding: 10px;
}

.lists {
	margin-top: 10px;
}

.day_feed {
	margin-top: 25px;
}

.day {
	font-size: 1.3em;
	font-weight: bold;
	color: #534540;
}

.date {
	color: #bbbbbb;
}

.item, .list {
	margin-top: 7px;
	margin-bottom: 7px;
	&:hover {
		background-color: #fcf5e2;
		border-radius: 5px;
	}
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
}

.glyphicon-map-marker{
	color: white;
	font-size: 1.6em;
	background-color: #179ac8;
	padding: 6px;
}

.glyphicon-plus {
	background-color: #179ac8;
	color: white;
	padding: 8px;
}

.glyphicon{
	border-radius: 100%;
}

.email_signup {
	background-color: #fcf5e2;
	padding: 10px;
	padding-bottom: 10px;
	height: 60px;
	border-radius:5px;
}

.list-inline{
	margin-bottom: 0px;
}

nav{
	margin-bottom: 20px;
}

h1, h2 {
	letter-spacing: -1px;
	// margin-bottom: 25px;
	font-size: 2em;
    margin-top: 0px;
}

h3{
    font-size: 1.5em;
    margin-top: 0px;
}

.heading li {
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-top: 0px;
	vertical-align: middle;
}
#logo {
  font-family: 'Aileron-SemiBold';
  font-size: 1.4em;
  color: #179ac8;
  // letter-spacing: -1px;
  font-weight: bold;
  &:hover {
  	text-decoration: none;
  }
}


@media(min-width: $screen-md) {
	.container {
		max-width: 950px;
	}
}




