%nav.navbar.gps-nav.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      .navbar-brand
        =link_to root_path do 
          Research
          %span#globe GPS
    .text-right.slogan
      The community-curated handbook for development economists


