#nav-wrapper
  %nav.navbar-fixed-top.navbar-default
    .container-fluid
      .navbar-left.pull-left= link_to "ResearchGPS", root_path, id: "logo"
      .navbar-right.pull-right
        The best new papers in economics, every day
      