.sidenav
  .row
    .col-xs-12.col-xs-offset-1.call-to-action
      %span A roadmap to research in microfinance. Discover and track the research you care about.
  .row.info
    .col-xs-4.col-xs-offset-3
      %span ABOUT
    .col-xs-4
      %span CONTACT
        