.sidenav
  .row
    .col-sm-12.col-sm-offset-1.call-to-action
      %span A roadmap to research in microfinance. Find the best papers in our curated lists.
  .row.info
    .col-sm-4.col-sm-offset-3
      %span.about
        ABOUT
    .col-sm-4
      %span.contact
        CONTACT
  .row
    .col-sm-12.col-sm-offset-2.view-info

        