#sidebar-wrapper
  %ul.sidebar-nav  
    / %li.slogan
    /   The Internet's syllabus for Development Economics
    / %br
    %li.signup
      = form_for EmailSignup.new do |f|
        = render 'shared/error_messages', object: f.object
        = f.text_field :email, placeholder: "Your email"
        = f.submit "Get Weekly Updates", class: "btn-gps"
    %br
    %li.italic
      Playlists to kickstart your research in development economics. We give you the important papers on dozens of topics. Curated by PhD students.
    %br
    %li
      info@researchgps.com



  /       #sidebar-wrapper
  / %ul.sidebar-nav.nav
  /   =render partial: 'shared/shelf_item', collection: current_user.articles #collection refers to variable name in controller

  / .row
  /   .col-sm-12.col-sm-offset-1.call-to-action
  /     %span A roadmap to research in microfinance. Great papers, curated by humans.
  / .row.info
  /   .col-sm-4.col-sm-offset-3
  /     %span.about
  /       ABOUT
  /   .col-sm-4
  /     %span.contact
  /       CONTACT
  / .row
  /   .col-sm-12.col-sm-offset-2.view-info